body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial;
  color: white;
  height: 100vh;
  width: 100vw;
  background-image: url(./background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.maintenance_box {
  border: solid;
  border-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: rgba(250, 250, 250, .3);
  padding:  20px ;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
}

.maintenance_box:hover {
  box-shadow: 0px 0px 10px 10px rgba(250, 250, 250, .1);
}

.maintenance_box_contact {
  background-color: rgba(0, 0, 250, .4);
  padding: 0px 15px 0px 15px;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.maintenance_box_contact:hover {
  background-color: rgba(0, 0, 210, .6);
  cursor: pointer;
  transform: scale(1.05);
}

a {
  display: flex;
  padding: 10px 10px 15px 10px;
  color: white;
  text-decoration: none;
  font-size: 1.5em
}

@media (max-width: 768px) {
  .maintenance_box:hover {
    box-shadow: 0px 0px 10px 3px rgba(250, 250, 250, .0);
  }
}

h1 {
  margin: 0px;
  padding: 0px;
}

.title {
  margin-left: 20px;
  margin-right: 20px;
}
